.student-list-container {
  max-width: 1100px;
  margin: 40px auto;
  background: #ffffff;
  padding: 20px;
  padding-right: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
  overflow-y: scroll;
}

.student-list-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

/* Table Base */
.student-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

/* Table Header */
.student-table thead {
  background-color: #1976d2;
  color: white;
}

.student-table th {
  padding: 14px 10px;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
}

/* Table Rows */
.student-table td {
  padding: 12px 10px;
  border-bottom: 1px solid #ddd;
  font-size: 15px;
  color: #444;
}

/* Hover Effect */
.student-table tbody tr:hover {
  background-color: #f1f7ff;
  transition: 0.2s ease-in-out;
}

/* No Data */
.no-data {
  text-align: center;
  padding: 20px;
  color: grey;
  font-size: 18px;
}
.add-btn{
     background-color: #1976d2;
     color: white;
}

/* Responsive Table */
@media (max-width: 768px) {
  .student-table th,
  .student-table td {
    font-size: 14px;
    padding: 10px;
  }

  .student-list-container {
    padding: 15px;
  }
}
